{# src/amael/blogBundle/Resources/views/layout.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - partie blog du site (fil dariane){% endblock %}
{% block body %}
<h1>Blog</h1>
Hello World (src/amael/blogBundle/Resources/views/layout.html.twig))!

{% block page %}{% endblock %}

{% endblock %}
