{% extends "::layout.html.twig" %}
{% block title %}général - {{ parent() }}{% endblock %}
        {% block head %}{{ parent() }} {% endblock %} 
        {% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1 class="titreH1">{% block titreH1 %}Accueil - Gestion du stock{% endblock %}</h1>
   
    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block produit_body %}
    {% endblock %}
{% endblock %}